
@{
    ViewBag.Title = "GETPARM";
}

<h2>GetParm</h2>
<form>
    <input type="text" name="x" placeholder="Enter number" />
    <input type="text" name="s" placeholder="Enter string" />
    <input type="date" name="d" />
    <input type="text" name="press" placeholder="Enter string" />
    <br />
    <input type="submit" formmethod="post" formaction="/FIT/ParmSave" value="OK" /><input type="submit" formmethod="get" formaction="/FIT/Index" value="Cancel" />
</form>

<a href="/FIT/Index">Index</a>

